<h2>New plugin</h2>

<% semantic_form_for @plugin, :html => {:multipart => true} do |form| %>
  <%= form.error_messages %>
  <%= debug @plugin %>
  <fieldset class="inputs">
    <ol>
      <li class="file required" id="zip_input">
        <label for="zip">Package<abbr title="required">*</abbr></label>
        <input id="zip" name="zip" size="30" type="file" />
      </li>
    </ol>
  </fieldset>
  <% form.buttons do %>
    <%= form.commit_button "Create" %>
  <% end %>
<% end %>
<%= link_to 'Back', plugins_path %>

