#topnav {
  width: 100%;
  background: url(../images/topnav_bg.png) repeat-x top left;
  float: left;
  line-height: 3em;
  border-bottom: 1px solid #7aa;
  margin-bottom: 1.5em;
}

#topnav ul {
  width: 960px;
  border-left: 1px solid #7387AC;
  padding: 0;
  margin: 0 auto;
}

#topnav a {
  color: #9db8eb;
  display: block;
  text-shadow: #000 1px 1px 1px;
  padding: 0 1em;
  text-decoration: none;
}

#topnav a:hover {
  color: #fff;
  text-decoration: underline;
  background-color: #7387AC;
}

#topnav li {
  list-style: none;
  float: right;
  border-right: 1px solid #7387AC;
}


#flash, #content {
  width: 960px;
  margin: 0 auto;
  clear: both;
}


#plugins {
  margin: 0;
  padding: 0;
  border: 2px solid #20407f;
  border-radius: 5px;
}

#plugins .plugin {
  background: url(../images/plugin_bg.png) repeat-x bottom left;
  padding: 0.75em 0.75em 0.75em 150px;
  list-style: none;
  position: relative;
  min-height: 128px;
}

#plugins h3 {
  float: left;
}

#plugins h3 img {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
}

#plugins .plugin-info {
  clear: left;
}

#plugins .plugin-actions {
  float: right;
  width: 15em;
  border-left:1px dotted #B4DFEE;
}

.plugin-info h2 {
  display: inline;
}

.plugin-info .author {
  color: #888;
  display: block;
}

.plugin-info .screenshot {
  float: left;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.plugin-info .description {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  width: 35em;
}

.plugin-info .screenshot + .description {
  margin-left: 250px;
}

.plugin-info h3 {
  clear: both;
}
