<div id="topnav">
  <ul>
    <% unless current_user -%>
      <li><%= link_to "Register", sign_up_path %></li>
      <li><%= link_to "Login", sign_in_path %></li>
    <% end %>
    <% if current_user -%>
      <li><%= link_to "Logout", sign_out_path %></li>
    <% end %>
  </ul>
</div>

