<h1>New release</h1>

<% semantic_form_for([@plugin, @release], :html => {:multipart => true}) do |form| %>
  <% unless @release.errors.on :package %>
    <%= form.semantic_errors :version, :studipMinVersion, :studipMaxVersion %>
  <% end %>

  <% form.inputs do %>
    <%= form.input :package %>
  <% end %>
  <% form.buttons do %>
    <%= form.commit_button "Create" %>
  <% end %>
<% end %>

<%= link_to 'Back', plugin_releases_path(@plugin) %>
